::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #b23b3b;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  padding: 2em;
  box-sizing: border-box;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
header,
header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(asset/background_new.jpg);
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
header p {
  background-color: hsla(0, 0%, 100%, 0.1);
}
main {
  background-color: hsl(60, 10%, 10%);
  line-height: 1.7;
  max-width: 32em;
  padding: 5% calc(50% - 16em) 35%;
  position: relative;
  z-index: 2;
}

html {
  background-color: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  color: whitesmoke;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.entire {
  height: 100%;
  width: 100%;
}
header {
  text-align: left;
  padding-left: 0;
}
header h1 {
  font-size: 24px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
.logo {
  width: 200px;
  margin-top:-1em;
  margin-left:2em;
  height: auto;
}
.logo1{
  display:none;
}
.topCenter {
  position: absolute;
  width: 100%;
}
.center{
  display: flex;
  margin-top: -2em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.TCdef {
  height:300px;
  padding: 2em;
  width: 350px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
.TCdef h1 {
  font-size: 225%;
}
.TCwords h2{
  margin-bottom: -.2em;
}
.TCwords {
  text-align: center;
  height:300px;
  margin-top: 0;
  padding: 2em;
  width: 350px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
.TCwords h1{
  font-size: 225%;
}
.TCwords h3 {
  text-align: center;
  margin-top: -1em;
  height: auto;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  letter-spacing: 2px;
  margin-bottom: -1.5em;
}
.TCwords h4 {
  margin-bottom: 2em;
}

.business{
  margin-bottom:0;
}
.vl {
  margin-top:7em;
  border-left: 6px solid whitesmoke;
  border-radius: 10px;
  height: 300px;
}
#adj {
  margin-bottom: -2em;
}
.motion {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 153, 0);
}
.motion h2 {
  padding: 1.5em;
}
.button img {
  width: 50px;

}

.button img:hover {
  transform: scale(1.1);
}
.smoothScroll {
  color: black;
  scroll-behavior: smooth;
}
a {
  scroll-behavior: smooth;
}
#about {
  position: relative;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100%;
  color: black;
}
#contact {
  position:relative;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.form {
  position: relative;
  width:100%;
  top: 105%;
}
.picture {
  right: 0;
  width: 45%;
}
.picture img {
  width: 100%;
  height: auto;
  right: 0;
}

.align-center {
  text-align: center;
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
}
.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}
.content-wrapper {
  min-height: 100%;
  position: relative;
}
.get-in-touch {
  max-width: auto;
  position: relative;
  top: 50%;
  bottom: 0;
}
.get-in-touch .title {
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3vw;
  line-height: 48px;
  padding-bottom: 48px;
}
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
  border-radius: none;
}
.contact-form .input-text {
  width: 100%;
  height: 36px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: whitesmoke;
  color: rgb(255, 137, 2);
  margin:15px 0;
  padding:15px 10px;
  outline:none;
  border:1px solid rgb(255, 137, 2);
  border-radius:20px;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -ms-transition:0.2s ease all;
  -o-transition:0.2s ease all;
  transition:0.2s ease all;
}

.contact-form .input-text:focus, .contact-form .input-text:hover {
  outline: none;
  border:3px solid rgb(255, 137, 2);
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(255, 137, 2);
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: whitesmoke;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: none;
}
.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}







*, *::before, *::after {
  box-sizing: border-box;
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird svg{
  fill: lawngreen;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}
.bird-container {
  position: relative;
  top: 50%;
  left: -25%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}
.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}
.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}
.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
 }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
 }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
 }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
 }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
 }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
 }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
 }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
 }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
 }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
 }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
 }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
 }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
 }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
 }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
 }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
 }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
 }
}


@media only screen and (max-width: 950px) {
  header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(asset/metalBackground2.jpg);
    background-size: cover;
    -webkit-transform-origin: none;
    -webkit-transform: none;
    transform-origin: none;
    transform: none;
    z-index: -1;
    min-height: 100vh;
  }
  body {
    overflow-x: hidden;
  }
  .logo{
    display:none;
  }
  .logo1 {
    display:inline;
    position:relative;
    width: 275px;
    height: auto;
  }
  .button img {
    width: 30px;
  
  }
  #about {
    position: relative;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 120%;
    color: black;
  }
  .TCwords {
    display:none;
  }
  .TCdef {
    display: none;
  }
  .vl {
    display: none;
  }
  .row0 {
    display: none;
  }
  .row1 {
    display: none;
  }
  .row2 {
    display: none;
  }
}
